### Natural Language Processing of the KJV Bible
+ Sentiment Analysis
+ EDA
+ Summarization
+ Prediction of Verse

#### Data Sources
+ https://raw.githubusercontent.com/scrollmapper/bible_databases/master/csv/t_kjv.csv

In [21]:
# Load EDA Pkgs
from typing import Tuple
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Load Dataset
df = pd.read_csv("t_kjv.csv", index_col=False)

In [3]:
# Columns
df.columns

Index(['id', 'b', 'c', 'v', 't'], dtype='object')

In [4]:
# Head
df.head()

        id  b  c  v                                                  t
0  1001001  1  1  1  In the beginning God created the heaven and th...
1  1001002  1  1  2  And the earth was without form, and void; and ...
2  1001003  1  1  3  And God said, Let there be light: and there wa...
3  1001004  1  1  4  And God saw the light, that it was good: and G...
4  1001005  1  1  5  And God called the light Day, and the darkness...

In [5]:
# Rename Books
df1 = df

In [6]:
# Replacing with the correct name
df1.b.replace({1:"Genesis",
2:"Exodus",
3:"Leviticus",
4:"Numbers",
5:"Deuteronomy",
6:"Joshua",
7:"Judges",
8:"Ruth",
9:"1 Samuel (1 Kings)",
10:"2 Samuel (2 Kings)",
11:"1 Kings (3 Kings)",
12:"2 Kings (4 Kings)",
13:"1 Chronicles",
14:"2 Chronicles",
15:"Ezra",
16:"Nehemiah",
17:"Esther",
18:"Job",
19:"Psalms",
20:"Proverbs",
21:"Ecclesiastes",
22:"Song of Solomon (Canticles)",
23:"Isaiah",
24:"Jeremiah",
25:"Lamentations",
26:"Ezekiel",
27:"Daniel",
28:"Hosea",
29:"Joel",
30:"Amos",
31:"Obadiah",
32:"Jonah",
33:"Micah",
34:"Nahum",
35:"Habakkuk",
36:"Zephaniah",
37:"Haggai",
38:"Zechariah",
39:"Malachi",
40:"Matthew",
41:"Mark",
42:"Luke",
43:"John",
44:"Acts",
45:"Romans",
46:"1 Corinthians",
47:"2 Corinthians",
48:"Galatians",
49:"Ephesians",
50:"Philippians",
51:"Colossians",
52:"1 Thessalonians",
53:"2 Thessalonians",
54:"1 Timothy",
55:"2 Timothy",
56:"Titus",
57:"Philemon",
58:"Hebrews",
59:"James",
60:"1 Peter",
61:"2 Peter",
62:"1 John",
63:"2 John",
64:"3 John",
65:"Jude",
66:"Revelation"},inplace=True)

In [7]:
# Renaming Columns
df1.columns = ["id","book","chapter","verse","text"]

In [8]:
Genesis = df1[df1["book"]=='Genesis']
Chapter1 = Genesis[Genesis["chapter"]==1]
Chapter1

,id,book,chapter,verse,text
0,1001001,Genesis,1,1,In the beginning God created the heaven and th...
1,1001002,Genesis,1,2,"And the earth was without form, and void; and ..."
2,1001003,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,1001004,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,1001005,Genesis,1,5,"And God called the light Day, and the darkness..."
5,1001006,Genesis,1,6,"And God said, Let there be a firmament in the ..."
6,1001007,Genesis,1,7,"And God made the firmament, and divided the wa..."
7,1001008,Genesis,1,8,And God called the firmament Heaven. And the e...
8,1001009,Genesis,1,9,"And God said, Let the waters under the heaven ..."
9,1001010,Genesis,1,10,And God called the dry land Earth; and the gat...
10,1001011,Genesis,1,11,"And God said, Let the earth bring forth grass,..."
11,1001012,Genesis,1,12,"And the earth brought forth grass, and herb yi..."
12,1001013,Genesis,1,13,And the evening and the morning were the third...
13,1001014,Genesis,1,14,"And God said, Let there be lights in the firma..."
14,1001015,Genesis,1,15,And let them be for lights in the firmament of...
15,1001016,Genesis,1,16,And God made two great lights; the greater lig...
16,1001017,Genesis,1,17,And God set them in the firmament of the heave...
17,1001018,Genesis,1,18,"And to rule over the day and over the night, a..."
18,1001019,Genesis,1,19,And the evening and the morning were the fourt...
19,1001020,Genesis,1,20,"And God said, Let the waters bring forth abund..."
20,1001021,Genesis,1,21,"And God created great whales, and every living..."
21,1001022,Genesis,1,22,"And God blessed them, saying, Be fruitful, and..."
22,1001023,Genesis,1,23,And the evening and the morning were the fifth...
23,1001024,Genesis,1,24,"And God said, Let the earth bring forth the li..."
24,1001025,Genesis,1,25,And God made the beast of the earth after his ...
25,1001026,Genesis,1,26,"And God said, Let us make man in our image, af..."
26,1001027,Genesis,1,27,"So God created man in his own image, in the im..."
27,1001028,Genesis,1,28,"And God blessed them, and God said unto them, ..."
28,1001029,Genesis,1,29,"And God said, Behold, I have given you every h..."
29,1001030,Genesis,1,30,"And to every beast of the earth, and to every ..."
30,1001031,Genesis,1,31,"And God saw every thing that he had made, and,..."

In [9]:
Chapter1[Chapter1['verse']==1]['book'].values[0]

'Genesis'

In [10]:
import re
import math

verses = Chapter1['text'].values

def get_tf_for_verses(verses, sortby='tf', skip_stopwords: bool = False):
    tf = pd.DataFrame(columns=["word", "tc", "tf"])
    
    if skip_stopwords:
        from nltk.corpus import stopwords
        stopwords_set = set(stopwords.words('english'))
    else:
        stopwords_set = set()

    # Get n_words
    n_words = 0
    for verse in verses:
        verse_words = re.findall(r'\w+', verse)
        n_words += len(verse_words)


    for verse in verses:
        verse_words = re.findall(r'\w+', verse)
        for word in verse_words:
            word = word.lower()
            if word not in tf['word'].values and word not in stopwords_set:
                row = {}
                row['word']=[word]
                row['tf'] = [1/n_words]
                row['tc'] = 1
                row_df = pd.DataFrame(row)
                tf = pd.concat([tf, row_df], ignore_index=True)
            else:
                tf.loc[tf.word.isin([word]), 'tf']+=1/n_words  
                tf.loc[tf.word.isin([word]), 'tc']+=1
    
      
    tf = tf.sort_values(by=sortby, ascending=False)
    tf = tf.reset_index(drop=True)
    return tf

def get_idf_for_verses(verses, sortby='idf', skip_stopwords: bool = False):
    idf = pd.DataFrame(columns=["word", "dc" ,"idf"])

    N_documents = len(verses)

    if skip_stopwords:
        from nltk.corpus import stopwords
        stopwords_set = set(stopwords.words('english'))
    else:
        stopwords_set = set()

    # Get all_verse_words
    all_verse_words = []
    for verse in verses:
        verse_words = re.findall(r'\w+', verse)
        for i in range(len(verse_words)):
            verse_words[i] = verse_words[i].lower()
        all_verse_words.append(set(verse_words))


    for verse in verses:
        verse_words = re.findall(r'\w+', verse)
        for word in verse_words:
            word = word.lower()
            if word not in idf['word'].values and word not in stopwords_set:
                row = {}
                row['word']=[word]
                row['idf'] = math.log(N_documents/len([True for verse_words in all_verse_words if word in verse_words]))
                row['dc'] = len([True for verse_words in all_verse_words if word in verse_words])
                row_df = pd.DataFrame(row)
                idf = pd.concat([idf, row_df], ignore_index=True)
    idf = idf.sort_values(by=sortby, ascending=False)
    idf = idf.reset_index(drop=True)
    return idf

def get_tf_idf_for_verses(verses, sort_by='tf', skip_stopwords: bool = False):

    tf = get_tf_for_verses(verses, sortby='word', skip_stopwords=skip_stopwords)
    tf = tf.reset_index(drop=True)
    idf = get_idf_for_verses(verses, sortby='word', skip_stopwords=skip_stopwords)
    idf = idf.reset_index(drop=True)

    idf_column = {'dc': idf['dc'].values, 'idf': idf['idf'].values}
    idf_df = pd.DataFrame(idf_column)
    tf_idf = pd.concat([tf, idf_df], axis=1)

    tf_idf_column = {'tf_idf': tf['tf'].values*idf['idf'].values}
    tf_idf_df = pd.DataFrame(tf_idf_column)
    tf_idf = pd.concat([tf_idf, tf_idf_df], axis=1)

    tf_idf = tf_idf.sort_values(by=sort_by, ascending=False)
    return tf_idf



tf = get_tf_for_verses(verses, sortby='tf', skip_stopwords=True)  
idf = get_idf_for_verses(verses, sortby='idf', skip_stopwords=True)

tf_idf = get_tf_idf_for_verses(verses, skip_stopwords=True)

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(tf)

           word  tc        tf
0           god  32  0.040151
1         earth  21  0.026349
2           let  14  0.017566
3         every  12  0.015056
4        waters  11  0.013802
5          upon  10  0.012547
6           day  10  0.012547
7         light  10  0.012547
8          said  10  0.012547
9          kind  10  0.012547
10    firmament   9  0.011292
11          saw   7  0.008783
12       heaven   7  0.008783
13         good   7  0.008783
14         fowl   6  0.007528
15        thing   6  0.007528
16         seed   6  0.007528
17      evening   6  0.007528
18      morning   6  0.007528
19         made   5  0.006274
20     yielding   5  0.006274
21       called   5  0.006274
22      created   5  0.006274
23        forth   5  0.006274
24         tree   4  0.005019
25         herb   4  0.005019
26        night   4  0.005019
27        fruit   4  0.005019
28     darkness   4  0.005019
29         rule   3  0.003764
30     creature   3  0.003764
31        bring   3  0.003764
32        image   3  0.003764
33     creepeth   3  0.003764
34          air   3  0.003764
35       lights   3  0.003764
36        beast   3  0.003764
37       cattle   3  0.003764
38       divide   3  0.003764
39     multiply   3  0.003764
40         face   3  0.003764
41       living   3  0.003764
42     creeping   2  0.002509
43        great   2  0.002509
44         give   2  0.002509
45          man   2  0.002509
46   abundantly   2  0.002509
47     dominion   2  0.002509
48         life   2  0.002509
49     fruitful   2  0.002509
50      blessed   2  0.002509
51         seas   2  0.002509
52       moveth   2  0.002509
53      brought   2  0.002509
54         land   2  0.002509
55      divided   2  0.002509
56        given   2  0.002509
57        whose   2  0.002509
58     together   2  0.002509
59         unto   2  0.002509
60          dry   2  0.002509
61       behold   2  0.002509
62         meat   2  0.002509
63          sea   2  0.002509
64         fish   2  0.002509
65        grass   2  0.002509
66         fill   1  0.001255
67        shall   1  0.001255
68      wherein   1  0.001255
69      bearing   1  0.001255
70        green   1  0.001255
71       saying   1  0.001255
72       female   1  0.001255
73        fifth   1  0.001255
74       subdue   1  0.001255
75    replenish   1  0.001255
76         male   1  0.001255
77           us   1  0.001255
78         make   1  0.001255
79       winged   1  0.001255
80     likeness   1  0.001255
81    beginning   1  0.001255
82         days   1  0.001255
83       whales   1  0.001255
84         open   1  0.001255
85      without   1  0.001255
86         form   1  0.001255
87         void   1  0.001255
88         deep   1  0.001255
89       spirit   1  0.001255
90        moved   1  0.001255
91        first   1  0.001255
92        midst   1  0.001255
93       second   1  0.001255
94     gathered   1  0.001255
95          one   1  0.001255
96        place   1  0.001255
97       appear   1  0.001255
98    gathering   1  0.001255
99        third   1  0.001255
100       signs   1  0.001255
101     seasons   1  0.001255
102       years   1  0.001255
103         two   1  0.001255
104     greater   1  0.001255
105      lesser   1  0.001255
106       stars   1  0.001255
107        also   1  0.001255
108         set   1  0.001255
109      fourth   1  0.001255
110      moving   1  0.001255
111        hath   1  0.001255
112         may   1  0.001255
113         fly   1  0.001255
114       sixth   1  0.001255

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(tf_idf)

           word  tc        tf  dc       idf    tf_idf
68          god  32  0.040151  26  0.175891  0.007062
89        earth  21  0.026349  15  0.725937  0.019128
55          let  14  0.017566  10  1.131402  0.019874
87        every  12  0.015056   7  1.488077  0.022405
7        waters  11  0.013802   8  1.354546  0.018695
10         upon  10  0.012547   9  1.236763  0.015518
53        light  10  0.012547   7  1.488077  0.018671
31         said  10  0.012547  10  1.131402  0.014196
96          day  10  0.012547   9  1.236763  0.015518
58         kind  10  0.012547   5  1.824549  0.022893
82    firmament   9  0.011292   7  1.488077  0.016804
61       heaven   7  0.008783   7  1.488077  0.013070
67         good   7  0.008783   7  1.488077  0.013070
30          saw   7  0.008783   7  1.488077  0.013070
24         seed   6  0.007528   3  2.335375  0.017581
42      morning   6  0.007528   6  1.642228  0.012363
16        thing   6  0.007528   6  1.642228  0.012363
75         fowl   6  0.007528   6  1.642228  0.012363
88      evening   6  0.007528   6  1.642228  0.012363
103      called   5  0.006274   3  2.335375  0.014651
49         made   5  0.006274   4  2.047693  0.012846
77        forth   5  0.006274   5  1.824549  0.011446
0      yielding   5  0.006274   3  2.335375  0.014651
101     created   5  0.006274   3  2.335375  0.014651
13         tree   4  0.005019   3  2.335375  0.011721
37        night   4  0.005019   4  2.047693  0.010277
74        fruit   4  0.005019   3  2.335375  0.011721
60         herb   4  0.005019   4  2.047693  0.010277
97     darkness   4  0.005019   4  2.047693  0.010277
100    creature   3  0.003764   3  2.335375  0.008791
99     creepeth   3  0.003764   3  2.335375  0.008791
38     multiply   3  0.003764   2  2.740840  0.010317
32         rule   3  0.003764   2  2.740840  0.010317
102      cattle   3  0.003764   3  2.335375  0.008791
50       living   3  0.003764   3  2.335375  0.008791
59        image   3  0.003764   2  2.740840  0.010317
93       divide   3  0.003764   3  2.335375  0.008791
86         face   3  0.003764   2  2.740840  0.010317
52       lights   3  0.003764   3  2.335375  0.008791
113         air   3  0.003764   3  2.335375  0.008791
105       bring   3  0.003764   3  2.335375  0.008791
109       beast   3  0.003764   3  2.335375  0.008791
65        great   2  0.002509   2  2.740840  0.006878
66        grass   2  0.002509   2  2.740840  0.006878
90          dry   2  0.002509   2  2.740840  0.006878
69        given   2  0.002509   2  2.740840  0.006878
70         give   2  0.002509   2  2.740840  0.006878
91     dominion   2  0.002509   2  2.740840  0.006878
98     creeping   2  0.002509   2  2.740840  0.006878
80         fish   2  0.002509   2  2.740840  0.006878
107      behold   2  0.002509   2  2.740840  0.006878
104     brought   2  0.002509   2  2.740840  0.006878
106     blessed   2  0.002509   2  2.740840  0.006878
92      divided   2  0.002509   2  2.740840  0.006878
73     fruitful   2  0.002509   2  2.740840  0.006878
57         land   2  0.002509   2  2.740840  0.006878
114  abundantly   2  0.002509   2  2.740840  0.006878
46          man   2  0.002509   2  2.740840  0.006878
28          sea   2  0.002509   2  2.740840  0.006878
14     together   2  0.002509   2  2.740840  0.006878
11         unto   2  0.002509   2  2.740840  0.006878
40       moveth   2  0.002509   2  2.740840  0.006878
44         meat   2  0.002509   2  2.740840  0.006878
4         whose   2  0.002509   2  2.740840  0.006878
27         seas   2  0.002509   2  2.740840  0.006878
54         life   2  0.002509   2  2.740840  0.006878
108   beginning   1  0.001255   1  3.433987  0.004309
17       subdue   1  0.001255   1  3.433987  0.004309
23          set   1  0.001255   1  3.433987  0.004309
22        shall   1  0.001255   1  3.433987  0.004309
21        signs   1  0.001255   1  3.433987  0.004309
20        sixth   1  0.001255   1  3.433987  0.004309
94         deep   1  0.001255   1  3.433987  0.004309
95         days   1  0.001255   1  3.433987  0.004309
19       spirit   1  0.001255   1  3.433987  0.004309
18        stars   1  0.001255   1  3.433987  0.004309
15        third   1  0.001255   1  3.433987  0.004309
3        winged   1  0.001255   1  3.433987  0.004309
2       without   1  0.001255   1  3.433987  0.004309
12          two   1  0.001255   1  3.433987  0.004309
112        also   1  0.001255   1  3.433987  0.004309
25       second   1  0.001255   1  3.433987  0.004309
8          void   1  0.001255   1  3.433987  0.004309
111      appear   1  0.001255   1  3.433987  0.004309
6        whales   1  0.001255   1  3.433987  0.004309
5       wherein   1  0.001255   1  3.433987  0.004309
110     bearing   1  0.001255   1  3.433987  0.004309
9            us   1  0.001255   1  3.433987  0.004309
56       lesser   1  0.001255   1  3.433987  0.004309
26      seasons   1  0.001255   1  3.433987  0.004309
1         years   1  0.001255   1  3.433987  0.004309
51     likeness   1  0.001255   1  3.433987  0.004309
48         make   1  0.001255   1  3.433987  0.004309
47         male   1  0.001255   1  3.433987  0.004309
62         hath   1  0.001255   1  3.433987  0.004309
63        green   1  0.001255   1  3.433987  0.004309
64      greater   1  0.001255   1  3.433987  0.004309
45          may   1  0.001255   1  3.433987  0.004309
43        midst   1  0.001255   1  3.433987  0.004309
41        moved   1  0.001255   1  3.433987  0.004309
71    gathering   1  0.001255   1  3.433987  0.004309
72     gathered   1  0.001255   1  3.433987  0.004309
39       moving   1  0.001255   1  3.433987  0.004309
36          one   1  0.001255   1  3.433987  0.004309
35         open   1  0.001255   1  3.433987  0.004309
76       fourth   1  0.001255   1  3.433987  0.004309
34        place   1  0.001255   1  3.433987  0.004309
78         form   1  0.001255   1  3.433987  0.004309
79          fly   1  0.001255   1  3.433987  0.004309
33    replenish   1  0.001255   1  3.433987  0.004309
81        first   1  0.001255   1  3.433987  0.004309
29       saying   1  0.001255   1  3.433987  0.004309
83         fill   1  0.001255   1  3.433987  0.004309
84        fifth   1  0.001255   1  3.433987  0.004309
85       female   1  0.001255   1  3.433987  0.004309

CC: It is the conjunction of coordinating

CD: It is a digit of cardinal

DT: It is the determiner

EX: Existential

FW: It is a foreign word

IN: Preposition and conjunction

JJ: Adjective

JJR and JJS: Adjective and superlative

LS: List marker

MD: Modal

NN: Singular noun

NNS, NNP, NNPS: Proper and plural noun

PDT: Predeterminer

WRB: Adverb of wh

WP$: Possessive wh

WP: Pronoun of wh

WDT: Determiner of wp

VBZ: Verb

VBP, VBN, VBG, VBD, VB: Forms of verbs

UH: Interjection

TO: To go

RP: Particle

RBS, RB, RBR: Adverb

PRP, PRP$: Pronoun personal and professional

In [70]:
import nltk

def categorize_words(verses, skip_stopwords: bool = False):
    tf = pd.DataFrame(columns=["word", "tc", "tf"])
    
    if skip_stopwords:
        from nltk.corpus import stopwords
        stopwords_set = set(stopwords.words('english'))
    else:
        stopwords_set = set()

    nnp_set = set()

    word_types = {}

    # Get n_words
    n_words = 0
    for verse in verses:
        verse_tokenized = nltk.tokenize.word_tokenize(verse)

        verse_pos_tags = nltk.pos_tag(verse_tokenized)

        #print(verse_pos_tags)
        for word, tag in verse_pos_tags:
            if tag in ['NNP', 'NP', 'NNS', 'NNPS', 'NN']:
                nnp_set.add((word, tag, ))
        
        verse_ne = nltk.ne_chunk(verse_pos_tags, binary=False)

        for verse_word in verse_ne:
            if type(verse_word)==tuple:
                try:
                    verse_word[0].lower()
                except:
                    print(verse_word[0])
                if verse_word[0].lower() not in stopwords_set:
                    if verse_word[0].lower() not in word_types:
                        word_types[verse_word[0].lower()] = {verse_word[1]: 1}
                    else:
                        if verse_word[1] not in word_types[verse_word[0].lower()]:
                            word_types[verse_word[0].lower()][verse_word[1]] = 1
                        else:
                            word_types[verse_word[0].lower()][verse_word[1]] += 1
            else:
                label=verse_word.label()
                while verse_word:
                    verse_word_pop = verse_word.pop()
                    if verse_word_pop[0].lower() not in word_types:
                        word_types[verse_word_pop[0].lower()] = {verse_word_pop[1]: 1, label: 1}
                    else:
                        if verse_word_pop[1] not in word_types[verse_word_pop[0].lower()]:
                            word_types[verse_word_pop[0].lower()][verse_word_pop[1]] = 1
                        else:
                            word_types[verse_word_pop[0].lower()][verse_word_pop[1]] += 1
                        if label not in word_types[verse_word_pop[0].lower()]:
                            word_types[verse_word_pop[0].lower()][label] = 1
                        else:
                            word_types[verse_word_pop[0].lower()][label] += 1

    return word_types


def get_word_types_with_tf_idf(verses, sortby='tf', skip_stopwords=False, include_verbs=True):
    tf_idf = get_tf_idf_for_verses(verses, sort_by=sortby, skip_stopwords=skip_stopwords)
    tf_idf = tf_idf.reset_index(drop=True)
    print(len(tf_idf['word'].values))
    import numpy as np
    word_types = categorize_words(verses, skip_stopwords=skip_stopwords)
    
    # Create a word_type column in tf_idf, if the word is not in word_types, then it is nan
    word_type_column = {'word_type':[word_types[word] for word in tf_idf['word'].values if word in word_types]}
    print(len(word_type_column['word_type']))
    word_type_df = pd.DataFrame(word_type_column)
    tf_idf_word_types = pd.concat([tf_idf, word_type_df], axis=1)

    # Fileter out rows with nan word_type
    tf_idf_word_types = tf_idf_word_types[tf_idf_word_types['word_type'].apply(lambda x: not pd.isna(x))]


    if not include_verbs:
        tf_idf_word_types = tf_idf_word_types[tf_idf_word_types['word_type'].apply(lambda x: not {'VB', 'VBD'} & set(x.keys()))]

    new_column_order = ['word', 'word_type', 'tc', 'tf', 'dc', 'idf', 'tf_idf']
    tf_idf_word_types = tf_idf_word_types[new_column_order]

    tf_idf = tf_idf.reset_index(drop=True)


    return tf_idf_word_types


word_types = categorize_words(verses, skip_stopwords=True)  
tf_idf_word_types = get_word_types_with_tf_idf(verses, sortby='tf', skip_stopwords=True)

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     print(tf_idf_word_types)


def get_best_10(df, include_verbs=True):
    best_10 = []
    if include_verbs:
        chosen_types = {'NN', 'NNS', 'NNP', 'PERSON', 'VBD', 'VB', 'GPE'}
    else:
        chosen_types = {'NN', 'NNS', 'NNP', 'PERSON', 'GPE'}

    for index in range(len(df)):
        if len(best_10)==10:
            break
        elif set(df.loc[index, 'word_type'].keys()) & chosen_types:
            best_10.append(df.loc[index, 'word'])
    
    return best_10
    

get_best_10(tf_idf_word_types)

115
115

['god',
 'earth',
 'let',
 'waters',
 'light',
 'said',
 'day',
 'kind',
 'firmament',
 'heaven']

In [71]:
for chapter_index in range(1,2):
    Chapter = Genesis[Genesis["chapter"]==chapter_index]
    chapter_verses = Chapter['text'].values

    tf_idf_word_types_chapter = get_word_types_with_tf_idf(chapter_verses, skip_stopwords=True)

    # with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #     print(tf_idf_word_types_chapter)

    print(f"Chapter {chapter_index}", get_best_10(tf_idf_word_types_chapter, include_verbs = False))

115
115
Chapter 1 ['god', 'earth', 'waters', 'light', 'day', 'kind', 'firmament', 'heaven', 'seed', 'morning']

In [72]:
all_chapter_verses = []
for chapter_index in range(1,51):
    Chapter = Genesis[Genesis["chapter"]==chapter_index]
    chapter_verses = ''
    for verse in Chapter['text'].values:
        chapter_verses = chapter_verses + " " + verse
    all_chapter_verses.append(chapter_verses)
all_chapter_verses

# genesis_tf_idf = get_tf_idf_for_verses(all_chapter_verses, sort_by='tf', skip_stopwords=True)
genesis_tf_idf_word_type = get_word_types_with_tf_idf(all_chapter_verses, 'tf_idf', skip_stopwords=True, include_verbs=False)
genesis_tf_idf_word_type.style.set_properties(subset=['word_type'], **{'width': '400px'})

2326
2323